<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light" >
  <ion-card>
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="stacked"> Email </ion-label>
          <ion-input type="email" [(ngModel)]="email" name = "email"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"> Password </ion-label>
          <ion-input type="password" [(ngModel)]="password" name = "password"> </ion-input>
        </ion-item>

        <ion-button expand= "block" shape="round" type="submit" (click)="login()"> Ingresar </ion-button>
       </ion-list>
    </form>
  </ion-card>

  <div style ="text-align: center;">
    <p> ¿No tenés cuenta? Registrate <a [routerLink]="['/register']"> aquí </a></p>
    <p>  <a [routerLink]="['/passwordreset']"> ¿Olvidaste contraseña? </a></p>
  </div>
  <ion-img src="../assets/icon/PPF.svg" alt="logo protected">
  </ion-img>
</ion-content>
