<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Subscripciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
<ion-img src="https://ps.w.org/woocommerce-mercadopago/assets/icon-256x256.png?rev=2653727" alt="MercadoPago"></ion-img>
</div>
<div>
<ion-img src="https://infonegocios.info/content/images/2022/07/20/84844/conversions/premios_LA_tarjetasdecredito-medium-size.jpg" alt="MercadoPago"></ion-img>
</div>
</ion-content>
