.btn{
  background-color: var(--ion-color-success-shade);
  color: white;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  font-size: 20px;
  }
h2, p {
  border: 2px solid blanchedalmond;
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
}
