<ion-header>
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" shape =" round" (click)="gotoProfile()">Perfil</ion-button>
  <ion-button expand="block" shape =" round" (click)="gotoLlamar()">Llamar</ion-button>
  <ion-button expand="block" shape =" round" (click)="logout()">Logout</ion-button>
</ion-content>
