

<ion-content>
  <ion-card>
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="stacked"> Nombre Completo </ion-label>
          <ion-input required type ="text" [(ngModel)]="name" name="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"> Email </ion-label>
          <ion-input required type ="text" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"> Telefono </ion-label>
          <ion-input required type ="tel" [(ngModel)]="phone" name="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"> Contraseña </ion-label>
          <ion-input required type ="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block" shape= "round" (click)="register()"> Registrarse </ion-button>
      </ion-list>
    </form>
  </ion-card>

</ion-content>
